In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\amles\AppData\Local\Temp\ipykernel_6476\687462750.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
logshit = pd.read_excel('Chandranigahapur Solar Project (4MW) - device level inverter-2024_03_13_08_05_03.xlsx')
logshit.head()

,Date,DC Voltage (V),DC Current (A),DC Power (kW),R-Phase (A),Y-Phase (A),B-Phase (A),R-Phase (V),Y-Phase (V),B-Phase (V),AC Power (kW),Reactive Power (kVAR),Frequency (Hz),Inv Temp (°C),Energy Today (kWh),AC Generation (kWh),Power Factor
0,2024-03-12 00:00,26.4,0,No Data,0,No Data,No Data,711.1,709.9,703.7,0,0,50,22.5,21237,15561114,0
1,2024-03-12 00:01,26.5,0,No Data,0,No Data,No Data,710.3,709.5,703.3,0,0,49.95,22.5,0,15561114,0
2,2024-03-12 00:02,25.7,0,No Data,0,No Data,No Data,710.2,709.4,702.9,0,0,49.97,22.5,0,15561114,0
3,2024-03-12 00:03,25.3,0,No Data,0,No Data,No Data,711.1,710.4,704.1,0,0,50,22.5,0,15561114,0
4,2024-03-12 00:04,25.2,0,No Data,0,No Data,No Data,714.1,713.7,706.7,0,0,50.02,22.5,0,15561114,0

In [6]:
dummy = logshit.copy().set_index('Date')

In [7]:
dummy.head(2)

,DC Voltage (V),DC Current (A),DC Power (kW),R-Phase (A),Y-Phase (A),B-Phase (A),R-Phase (V),Y-Phase (V),B-Phase (V),AC Power (kW),Reactive Power (kVAR),Frequency (Hz),Inv Temp (°C),Energy Today (kWh),AC Generation (kWh),Power Factor
Date,,,,,,,,,,,,,,,,
2024-03-12 00:00,26.4,0,No Data,0,No Data,No Data,711.1,709.9,703.7,0,0,50,22.5,21237,15561114,0
2024-03-12 00:01,26.5,0,No Data,0,No Data,No Data,710.3,709.5,703.3,0,0,49.95,22.5,0,15561114,0

In [148]:
clean1 = dummy.drop(columns=['DC Voltage (V)', 'DC Current (A)', 'DC Power (kW)', 'R-Phase (A)',
                             'Y-Phase (A)', 'B-Phase (A)','Inv Temp (°C)', 'Energy Today (kWh)','Power Factor'])
clean1

,R-Phase (V),Y-Phase (V),B-Phase (V),AC Power (kW),Reactive Power (kVAR),Frequency (Hz),AC Generation (kWh)
Date,,,,,,,
2024-03-12 00:00,711.1,709.9,703.7,0,0,50,15561114
2024-03-12 00:01,710.3,709.5,703.3,0,0,49.95,15561114
2024-03-12 00:02,710.2,709.4,702.9,0,0,49.97,15561114
2024-03-12 00:03,711.1,710.4,704.1,0,0,50,15561114
2024-03-12 00:04,714.1,713.7,706.7,0,0,50.02,15561114
...,...,...,...,...,...,...,...
2024-03-12 23:57,711.3,711.4,702.5,0,0,49.96,15583682
2024-03-12 23:58,708.2,709.5,700,0,0,49.96,15583682
2024-03-12 23:59,708,708.7,699.3,0,0,50.02,15583682
2024-03-13 00:00,No Data,No Data,No Data,No Data,No Data,No Data,No Data
Total,685.06,684.26,676.49,920.77,-0.01,49.35,22159196228.00

In [150]:
clean1.replace('No Data',pd.NA,inplace=True)
clean2 = clean1.dropna()
clean2

,R-Phase (V),Y-Phase (V),B-Phase (V),AC Power (kW),Reactive Power (kVAR),Frequency (Hz),AC Generation (kWh)
Date,,,,,,,
2024-03-12 00:00,711.1,709.9,703.7,0,0,50,15561114
2024-03-12 00:01,710.3,709.5,703.3,0,0,49.95,15561114
2024-03-12 00:02,710.2,709.4,702.9,0,0,49.97,15561114
2024-03-12 00:03,711.1,710.4,704.1,0,0,50,15561114
2024-03-12 00:04,714.1,713.7,706.7,0,0,50.02,15561114
...,...,...,...,...,...,...,...
2024-03-12 23:56,709.1,709.3,699.9,0,0,49.97,15583682
2024-03-12 23:57,711.3,711.4,702.5,0,0,49.96,15583682
2024-03-12 23:58,708.2,709.5,700,0,0,49.96,15583682
2024-03-12 23:59,708,708.7,699.3,0,0,50.02,15583682
Total,685.06,684.26,676.49,920.77,-0.01,49.35,22159196228.00

In [156]:
test['Date'] = test['Date'][:-1].astype('datetime64[ns]')
clean3 = test1.set_index('Date')
clean3

,R-Phase (V),Y-Phase (V),B-Phase (V),AC Power (kW),Reactive Power (kVAR),Frequency (Hz),AC Generation (kWh)
Date,,,,,,,
2024-03-12 00:00:00,711.1,709.9,703.7,0,0,50,15561114
2024-03-12 00:01:00,710.3,709.5,703.3,0,0,49.95,15561114
2024-03-12 00:02:00,710.2,709.4,702.9,0,0,49.97,15561114
2024-03-12 00:03:00,711.1,710.4,704.1,0,0,50,15561114
2024-03-12 00:04:00,714.1,713.7,706.7,0,0,50.02,15561114
...,...,...,...,...,...,...,...
2024-03-12 23:55:00,709.3,710,700,0,0,49.93,15583682
2024-03-12 23:56:00,709.1,709.3,699.9,0,0,49.97,15583682
2024-03-12 23:57:00,711.3,711.4,702.5,0,0,49.96,15583682
2024-03-12 23:58:00,708.2,709.5,700,0,0,49.96,15583682
2024-03-12 23:59:00,708,708.7,699.3,0,0,50.02,15583682

In [164]:
row_index = [1,2,4,5,10]
selected_row = clean3.iloc[row_index]
pd.DataFrame(selected_row)

,R-Phase (V),Y-Phase (V),B-Phase (V),AC Power (kW),Reactive Power (kVAR),Frequency (Hz),AC Generation (kWh)
Date,,,,,,,
2024-03-12 00:01:00,710.3,709.5,703.3,0,0,49.95,15561114
2024-03-12 00:02:00,710.2,709.4,702.9,0,0,49.97,15561114
2024-03-12 00:04:00,714.1,713.7,706.7,0,0,50.02,15561114
2024-03-12 00:05:00,713.6,712.6,706.1,0,0,50.05,15561114
2024-03-12 00:10:00,709.3,708.4,701.4,0,0,49.99,15561114